footer{
    margin: 0px;
}
img{
    width: 100%;
    height:450px;
}
.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
.img-container{
    position: relative;
}
ul{
    position: absolute;
    left: 50px;
    bottom: 50px;
}