.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    height: 680px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-color: rgb(34, 32, 33);
    background-blend-mode: overlay;
}
.movie-section{
    position: absolute;
    min-width: 870px;
    min-height: 650px;
    padding:10px; 
    z-index: 1;
    left:0;
    right: 0;
    top:0;
    left:0;
    margin: 0px;
}
#movie-title{
    font-size: 32px;
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 0px;
}
ul{
    text-align: left;
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
li h5{
    display: inline-block;
}
h5{
    font-size: 18px;
}
.genre-id {
    display: inline-block;
}
.user-action{
    margin: 0px;

    /* width: 800px;
    height:100px; */
    height: 80px;
     /* background-color: blueviolet;  */
    padding: 5px;
}
.action-elements{
    display: inline-block !important;
    margin-right: 30px;
}
.user-action i {
    font-size: 15px;
    font-weight:600;
    position: absolute;
    top:115px;
}
.user-action i:hover {
    color:rgb(238, 154, 76);
    font-size: 16px;
}
.text-content{
    z-index: 1;
    color: white;
    margin-top:50px;
}
.img-content{
    margin-top:80px;
}
 #sub_title{
    font-size: 21px;
    opacity: 0.7;
}
.movieTitle{
    text-align:  center;
    font-weight: bold;
    margin:0px;
}
div.card-deck{
    display: inline-block;
    padding: 0px;
    margin: 2px;
}
.section-header{
    margin:15px;
}

div.card-body{
    height: 90px;
    margin: 0px;
    padding: 5px;
    overflow: auto; 
}
.card-deck{
    padding: 0px;
    box-shadow: 2px 8px 16px 0 rgba(56, 33, 141, 0.3);
    /* margin: 50px; */
}   
.card{
    width:10rem;
    margin: 0px;
    /* overflow: hidden; */
    min-height: 306px; 
}
.card-title{
    font-size: 15px;
}
.cast-section{
    height:750px;
}
.card-img-top{
    height:230px;
}
#logo{
    position: absolute;
    top:5px;
    left:5px;
}

/* .table {
    display:table;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
}
.box {
    margin:20px;
    width:400px;
    height:250px;
} */