<div class="body">
  <h1 class="my-4 movieTitle" >{{movieDetail?.title}}  <span id = "sub_title">{{ movieDetail?.release_date | date:'yyyy'}} </span></h1> 
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <img class="img-fluid" src='https://image.tmdb.org/t/p/original{{movieDetail?.poster_path}}' alt="poster images">
      <div class="img-overlay">
          <a href = "https://www.youtube.com/watch?v={{moviePlay?.key}}" target="_blank"><i class="fa fa-play-circle fa-5x"></i> </a>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <!-- <div class="image-wrapper">
        <img class="img-fluid" src='https://image.tmdb.org/t/p/original{{movieDetail?.backdrop_path}}' alt="poster images"> 
        <div class="img-overlay">
          <a href = "https://www.youtube.com/watch?v={{moviePlay?.key}}" target="_blank"><i class="fa fa-play-circle fa-4x"></i> </a>
        </div>
      </div>
      <hr> -->
      <h3 id= "movie-title"><strong>{{movieDetail?.title}}</strong></h3>
      <br>
      <div id = "movieDetails">
        <ul>
          <span>Overview</span><li>{{movieDetail?.overview}} </li>
          <span>Movie type</span>: <li class = "movieType my-3" *ngFor="let md of movieDetail?.genres" >{{md?.name}} &nbsp;</li>
          <li> <span>Relase year</span> :  {{movieDetail?.release_date}}</li>
          <li> <span>Run time</span> : {{movieDetail?.runtime}} </li>
          <li> <span>Revenue</span> : {{movieDetail?.revenue}} </li> 
          <li> <span>Rating</span> : {{movieDetail?.vote_average}} </li>
          <li> <span>Vote count</span>:  {{movieDetail?.vote_count}} </li>
        </ul>
        <div> 
          <span>Home page</span> :  <a href="{{movieDetail?.homepage}}">{{movieDetail?.homepage}}</a> 
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <!-- <h3 class="my-4">Related Projects</h3> -->  
  <!-- <div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
  </div> -->
</div>