<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="sticky-top">
<img id="logo" 
[src]=logo_path alt="movie" routerLink='/'>
</div>
<div class="bg-img" [style.backgroundImage]=" ' url('+ base_back_drops + '/'+movieDetail?.backdrop_path +')'"></div>
<div class="container-fluid">
  <section class="movie-section">
    <!-- <a name ="page-top"></a> -->
    <!-- <h1 class="my-4 movieTitle" >{{movieDetail?.title}}  <span id="sub_title">{{movieDetail?.release_date | date:'yyyy'}} </span></h1>  -->
  <div class="row">
    <div class="col-0 col-sm-0 col-md-1 col-lg-2 col-xl-2" ></div>
    <div class="img-content col-12 col-sm-4 col-md-5 col-lg-4 col-xl-3">
      <img id="poster" class="img-fluid" src="{{base_url}}/w780/{{movieDetail?.poster_path}}" alt="poster images">
    </div>
    <div class="text-content col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
      <h2 id= "movie-title">
        {{movieDetail?.title}}
        <span id="sub_title">({{movieDetail?.release_date | date:'yyyy'}})</span>
      </h2>  
      <div class="genre-type">      
        <h5 class="genre-id" *ngFor="let g of movieDetail?.genres">  
          <span class="badge badge-pill badge-info">{{g.name}}</span> &nbsp;
        </h5>
      </div>          
      <div class="user-action">
        <!-- <div class="circle-button action-elements">
          <circle-progress
            [percent]="movieValue" 
            [animation]="true"
            [outerStrokeColor]= "movieColor"
            [animationDuration]= "700"
          ></circle-progress>
        </div> -->
        <div>
          <div id="heart-icon" class="action-elements" [style.color]="heartColor ? 'red' : 'white'" (click)="clickHeart()">
            <i class="heart-icon fa fa-heart" ></i>
          </div>
          
          <a class="icons action-elements" [ngStyle]="{'color':'white'}" href = "https://www.youtube.com/watch?v={{moviePlay?.key}}" target="_blank">
            <i class="play-icon fa fa-play"> Play Trailer</i>
          </a> 
        </div>
        
      </div>
      <br>
      <div id = "movieDetails">
        <ul>
          <li><h5>Overview  </h5> <p>{{ (movieDetail?.overview.length<300)? (movieDetail?.overview) : ( movieDetail?.overview | slice:0:300 )+ '...' }} </p></li>
          <li><h5>Original Title : </h5> <span>{{movieDetail?.original_title}}</span></li>
          <!-- <h5>Movie Type :</h5> <li class = "movieType" *ngFor="let md of movieDetail?.genres" >{{md?.name}}/&nbsp;</li> -->
          <li> <h5>Release Year :</h5> <span>{{movieDetail?.release_date}}</span></li>
          <li> <h5>Run time :</h5> <span>{{movieDetail?.runtime}} mins</span></li>
          <!-- <li> <h5>Budget :</h5> ${{movieDetail?.budget}} </li> -->
          <!-- <li> <h5>Revenue :</h5> {{movieDetail?.revenue}} </li>  -->
          <!-- <li> <h5>Rating :</h5> {{movieDetail?.vote_average}} </li> -->
          <!-- <li> <h5>Vote Count :</h5>  {{movieDetail?.vote_count}} </li> -->
        </ul>
        <!-- <div> 
          <h5>Home Page</h5> <a href="{{movieDetail?.homepage}}">{{movieDetail?.homepage}}</a> 
        </div> -->
      </div>
    </div>
    <div class="col-0 col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
  </div>
</section>
</div>
<section class="cast-section">
    <h4 class="col-md-12 section-header">Top Billed Cast</h4>
<div class="row">
    <div class="left-side-bar col-md-1"></div>
    <div class="col-md-9 middle-side" >
      <ng-container  *ngFor="let c of movieCast; let i=index">
        <div class="card-deck" *ngIf="i<5 && [c.profile_path] !='' " >
          <div class="card">
            <img class="card-img-top" src="{{base_url}}/w185/{{c?.profile_path}}" alt="Card image cap">
            <div class="card-body" >
              <h6 class= "card-title card-name"><strong>{{c?.name}}</strong></h6>  
              <h6 class= "card-title card-charachter">{{c?.character}}</h6>    
          </div>  
        </div>
      </div>
      </ng-container>
    </div>
      <div class="right-side-bar col-md-2"></div>
  </div>
</section>

