.container-fluid{
    width: 100%;
    padding:0px;
    margin: 0px;
}
::-webkit-scrollbar {
    width: 0px;
}
h1{
    margin: 80px;
    color: red;
    font-weight: bold;
    font-size: 3rem;
}
ul{
    text-align: left;
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
strong{
    font-size: 1.2rem;
}
 #sub_title{
    font-size: 0.7em;
}
.movieTitle{
    text-align:  center;
    font-weight: bold;
    margin:0px;
}
div.card-deck{
    display: inline-block;
    padding: 0px;
    margin: 2px;
}
.movieType {
    display: inline-block;
}
.poster{
    min-width:213px;
    min-height: 310px;
}
.img-overlay {
    position: absolute;
    left : 45%;
    top: 45%;
    opacity: .8;
    transform: translate(-45%, -45%);
}
.image-wrapper{
    min-width: 200px;
    min-height:200px;
}
.movie-section{
    background-color: black;
    color:white;
    min-width: 870px;
    min-height: 450px;
    padding:10px; 
}
.section-header{
    margin:15px;
}
div.card-body{
    height: 90px;
    margin: 0px;
    padding: 5px;
    overflow: auto; 
}
.card-deck{
    padding: 0px;
    box-shadow: 2px 8px 16px 0 rgba(56, 33, 141, 0.3);
    /* margin: 50px; */
}   
.card{
    width:10rem;
    margin: 0px;
    /* overflow: hidden; */
    min-height: 306px; 
}
.card-title{
    font-size: 15px;
}

#movie-title{
    font-size: 30px;
    font-weight: bold;
}
.cast-section{
    height:750px;
}
.card-img-top{
    height:230px;
    /* margin:0px; */
}
/* .table {
    display:table;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
}
.box {
    margin:20px;
    width:400px;
    height:250px;
} */