<ngb-carousel>
  <ng-template ngbSlide>
    <img src="http://wallpaper-gallery.net/images/wallpapers-hd-background/wallpapers-hd-background-1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <!-- <img class="card-img-top" src={{book.url}} alt="{{book.title}}">-->
    <img src="http://wallpaper-gallery.net/images/wallpapers-hd-background/wallpapers-hd-background-12.jpg"  alt="Random second slide"> 
    <div class="carousel-caption" >
      <!-- <h3 *ngIf= 'b.rating > 4.8'> 
          {{b.title}} 
      </h3> -->
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://wallpaper-gallery.net/images/wallpapers-hd-background/wallpapers-hd-background-6.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3></h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>s