img {
    height: 60vh;
    width:  80%;
    cursor: pointer;
    /* width: calc((100%-20px)/2) */
}
/* img:type-of-last{
    margin-right: 0px;
} */
.carousel-images{
    background-color: black;
}
h1{
    text-shadow: 2px 2px 4px #000000;
}