<br>
<h3 class="span">Movie Section</h3>
<hr>
  <div class="row">
    <ng-container *ngFor="let m of moviesResult">
    <div class="card-deck">
            <div class="card" style="width: 12rem;">
               <a routerLink='/movie/{{m.id}}'> <img class="card-img-top" (click)="playMovie()" src='https://image.tmdb.org/t/p/original{{m.poster_path}}' alt="kkk"></a>
                <div class="card-body" style = "text-align:right;">
                  <h6 class= "card-text">人气:{{m.popularity}}</h6>
                  <h6 class="card-text" >评分:{{m.vote_average}}</h6>
                  <!-- <button (click) = 'playMovie()'>Click</button> -->
                </div>
                <!-- <h5 class="card-text" style = "text-align:center">{{m.title}}</h5> -->
            </div>  
      </div>
    </ng-container>
  </div>
