.section-container{
    padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
.section-header{
    font-weight: bold;
    font-size: 35px;
}
.card {
    width:14rem;
    margin:0px;
}
.card-deck{
    margin: 20px;
    padding: 0px;
}
/* .card-deck:hover {
    box-shadow: 2px 8px 16px 0 rgba(56, 33, 141, 0.3);
} */
.card-img-top{
    height: 355.73px;
}
.card-bottom{
    opacity: 0.0;
}
.card-img-top:hover + .card-bottom{
    opacity: 0.9;
}
.card-bottom:hover {
    opacity: 0.9;
}
.textContent{
    background-color:rgb(255,250,250);
    background-blend-mode: overlay;
    width: 100%;
    height:56px;
    position: absolute;
    top:300px;
    margin: 0px;
}
.textInfo{
    position: absolute;
    left:120px;
    top:312px;
    color: red;
    font-weight: 600;
}
i{
    position: absolute;
    left:70px;
    top:316px;
    color:black;
}

.card-body h6{
    text-align:center;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    /* font-weight: bold; */
}
.card-body p {
    position:  absolute;
    bottom: 5px;
    left: 60%;
    text-align: right;
    color: rgb(221, 11, 11);
}
#page-text{
    font-weight: bold;
    color:rgb(10, 10, 110);
}
