.section-container{
    padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
.section-header{
    font-weight: bold;
    font-size: 35px;
}
/* .card-deck{
    margin:10px;
    padding: 5px;
} */
.card {
    width:15rem;
    margin:0px;
}
.card-deck{
    cursor: pointer;
    margin: 20px;
    padding: 0px;
}
.card-deck:hover {
    box-shadow: 2px 8px 16px 0 rgba(56, 33, 141, 0.3);
}

.card-body h6{
    text-align:center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.card-body p {
    position:  absolute;
    bottom: 5px;
    left: 60%;
    text-align: right;
    color: rgb(221, 11, 11);
}
#page-text{
    font-weight: bold;
    color:rgb(10, 10, 110);
}
