<app-nav-bar></app-nav-bar>
<ngbd-carousel-config></ngbd-carousel-config>
<br>
<div class ="section-container">
    <h3 class="section-header"> Movie Section</h3><hr>
    <div class="row"> 
      <div class = "col-md-2" >
        <!-- <app-genre></app-genre> -->
        
        <nav class="hidden-xs-down bg-faded sidebar secion-sidebar">
          <ul class="nav nav-pills flex-column sticky-top">
            <!-- <li class="nav-item">
              <a class="nav-link active">GENRES<span class="sr-only">(current)</span></a>
            </li> -->
            <li *ngFor="let g of genres" class="nav-item">
              <a class="nav-link"  [routerLink]= "['/genre/', g.id ]" [queryParams]="{ pageId:1 }">{{g.name}}</a>
            </li>
          </ul>
        </nav><hr>

      </div>
      <div class="col-md-10 section-body">
        <div class="row"><!-- pipe filter add in movieResult   | paginate: { itemsPerPage: 10, currentPage: p }" -->
          <ng-container >
            <div class="card-deck"  *ngFor="let m of moviesResult">
              <div class="card border-0">
                  <a  routerLink='/movie/{{m.id}}' href="#">
                      <img class="card-img-top"  src='https://image.tmdb.org/t/p/original{{m?.poster_path}}' alt="kkk">
                      <div class="card-bottom">
                        <div class="textContent"></div>
                        <p class="textInfo">Rating: {{m?.vote_average}}</p> 
                        <ng-template #tipContent>
                          <b>Popularity:</b><br> 
                          {{m.popularity}}<br>
                          <b>Released Date:</b><br>{{m?.release_date | date}} 
                        </ng-template>
                        <i class="fa fa-tags" aria-hidden="true" [ngbTooltip]="tipContent"  placement="top" ></i>
                      </div>
                  </a>
                <div class="card-body" >
                  <h6 id= "card-title">{{m?.title}}</h6>     
                </div>
              </div>  
            </div>
          </ng-container>
        </div>
      </div>
    </div>
<br>
    <div class="section-footer">
     <div class="row">
      <div class="col-md-3" id = "page-text" >Currently on page: {{pageId}}  </div>
      <div class="col-md-7"></div>
      <div class="col-md-2">
        
        <button class="btn btn-info" (click)= "decrement()" 
          *ngIf="(pageId>1 &&  [movieType] != 'genre') ; else genreDecrementButton" 
          routerLink="/{{movieType}}" [queryParams]="{ pageId: +pageId-1 }" >&#9794;
        </button> 
        <button class = "btn btn-danger" (click) = "increment()"  
          *ngIf="[movieType] != 'genre' else genreIncrementButton" 
          routerLink="/{{movieType}}"
          [queryParams]="{ pageId:  +pageId+1  } " >&#9792;
        </button>        
        
        <ng-template  #genreDecrementButton>
            <button class="btn btn-info" (click)= "decrement()" 
              *ngIf="(pageId>1)" 
              routerLink="/{{movieType}}/{{genreId}}" 
              [queryParams]="{ pageId: +pageId-1 }" >&#9794;
            </button> 
        </ng-template>

        <ng-template  #genreIncrementButton>
            <button class = "btn btn-danger" (click) = "increment()" routerLink="/{{movieType}}/{{genreId}}" [queryParams]="{ pageId:  +pageId+1  } " >&#9792;</button>        
        </ng-template>
      </div>
     </div>
    </div>
</div>

<app-footer></app-footer>

