<!-- <div class="col-md-9">
  <div class="row">
    <ng-container *ngFor="let m of movies"> -->
      <!-- <div class="card-deck">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src='' alt="llll">
          <div class="card-body">
            <h5 class="card-title">{{movies.id}}</h5>
            <h6 class="card-title">{{movies.description}}</h6>              
           
            <p class="card-text">{{book.price | currency}}</p>
            <p class="card-text">Rating : {{book.rating}}</p> -->
<div class="col-md-12">
  <div class="row">
    <ng-container *ngFor="let m of movies">
        <h5 class="card-title">{{m.id}}</h5>
        <h5 class="card-title">{{m.description}}</h5>
    </ng-container>
  </div>
</div>