<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <strong>MovieLive</strong> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"  routerLinkActive='active' >
        <a class="nav-link"  routerLink='/'  href="#"  >Home<span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/movies' href="#">Popular</a>
      </li> -->
      <li ngbDropdown class="nav-item" routerLinkActive='active'>
        <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle> Movies </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item"  routerLink='/popular' [queryParams]="{pageId: 1}">Popular</button>
          <button class="dropdown-item" routerLink='/top' [queryParams]="{pageId: 1}">Top</button>
          <button class="dropdown-item" routerLink='/nowplaying' [queryParams]="{pageId: 1}">Nowplaying</button>
          <button class="dropdown-item" routerLink='/upcomming' [queryParams]="{pageId: 1}">Upcomming</button>
        </div>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/login' href="#">Login</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/signup' href="#">SignUp</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>