.navbar{
    height : 80px;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: white;
    z-index: 1;
}
/* #logo{
    width: 70px;
    height:70px;
    z-index: 1;
} */
ul{margin:1px;}
li{
    margin:0px;
    padding:0px;
}
#dropdown-box{
    position:absolute;
    z-index:1;
    width:400px;
    max-height:300px;
    top:55px;
    background-color:rgb(241, 239, 239);
    overflow-y:auto;
    font-size: 15px;
    padding:0px;
    margin:0px;
}
.search-bar input {
    width:400px;
}
.movie-name{
    color:blueviolet;
    padding:2px; 
    /* margin:0px;  */
}
.default-search{
    padding:15px;
    /* margin-top: 3px; */
}
img{
    cursor: pointer;
}
.movie-name:hover{
    background-color: #c2c2c2;
}
i, li {
    display: inline-block;
}
.message{
    font-size: 18px !important;
    font-weight: bold;
}
.movie-type{
    text-align: center;
}
.user-profile{
    border-radius: 50%;
    display: block;
    height: 60px;
    width: 60px;
}