
.container{
    height: 500px;
}
h6{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}
span{
    margin-top: 20px !important;
}
/* h5{
    margin: 10px;
} */
#user-img{
    margin-bottom: 10px; 
}