/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); */
/* .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  } */

  .body{
    font-family: 'Courier New', Courier, monospace; 
  }
 .btn {
   cursor: pointer;
 } 
 *{
   margin: 0px;
   padding: 0px;
 }
 ul, button, li, img, a, i{
  list-style-type: none;
  outline:none !important;
 }
 #logo{
  width: 70px;
  height: 70px;
  z-index: 1;
  cursor: pointer;
 }
