<app-nav-bar></app-nav-bar>
<div class="table-body">
  <div class="row">
    <div class="col-md-2"></div>
    <table class="col-md-8 table borderless">
      <tbody>
        <th colspan="4">Japanese Animated Films</th>
        <th colspan="4">In Theaters</th>
        
        <tr>
          <td colspan="4" rowspan="5">
            <a routerLink= '/movie/{{JapanMovie[2]?.id}}'>
              <img class="img-fluid" src = "{{image_url}}{{JapanMovie[2]?.backdrop_path}}">
              <span class ="top-left">{{JapanMovie[2].title}}</span>
              <span class ="top-left"></span>
            </a> 
          </td>

          <td colspan="2" rowspan="3"> 
            <a routerLink='/movie/{{theaterMovies[0]?.id}}'>
              <img class="img-fluid" src = "{{image_url}}{{theaterMovies[0]?.backdrop_path}}">
              <span class ="top-right-left">{{theaterMovies[0]?.title}}</span>
            </a>
          </td>
          
          <td colspan="2" rowspan="3"> 
            <a routerLink='/movie/{{theaterMovies[1]?.id}}'>
              <img class="img-fluid" src = "{{image_url}}{{theaterMovies[1]?.backdrop_path}}">
              <span class ="top-right-right">{{theaterMovies[1]?.title}}</span>
            </a>
          </td>
        </tr>
        
        <tr class="void"></tr>
        <tr class="void"></tr>
        
        <tr>
          <td colspan="4" rowspan="5"> 
            <a routerLink='/movie/{{theaterMovies[2]?.id}}'> 
              <img class="img-fluid" src = "{{image_url}}{{theaterMovies[2]?.backdrop_path}}">  
              <span class ="bottom-right">{{theaterMovies[2]?.title}}</span>
            </a>
          </td>
        </tr>
        <tr class="void"></tr>
        <tr>
          <td colspan="2" rowspan="3">
            <a routerLink='/movie/{{JapanMovie[1]?.id}}'>
              <img class="img-fluid" src ="{{image_url}}{{JapanMovie[1].backdrop_path}}">
              <span class ="bottom-left-left">{{JapanMovie[1]?.title}}</span>
            </a>      
          </td>
          <td colspan="2" rowspan="3">
            <a routerLink='/movie/{{JapanMovie[0].id}}'>
              <img class="img-fluid" src = "{{image_url}}{{JapanMovie[0].backdrop_path}}">
              <span class ="bottom-left-right">{{JapanMovie[0].title}}</span>
            </a>
          </td>
        </tr>
        <tr class="void"></tr>
        <tr class="void"></tr>
      </tbody>
    </table>
    <div class="col-md-2"></div>
  </div>
</div>