img,
table, 
tbody, 
tr, 
th,
td,
span{
      padding: 0px;
      margin : 0px;
  }
span {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
  }
  .bottom-right, .top-right-left, .top-right-right,.top-left,
  .bottom-left-left,.bottom-left-right{
    position: absolute;
  }
 .bottom-right{
    bottom: 50px;
    right:38%;
}
.top-right-left{
    bottom: 70%;
    right:40%;
}
.top-right-right{
    bottom: 70%;
    right:5%;
}
.top-left{
    bottom: 40%;
    left:6%;
}
.bottom-left-left{
    bottom:5%;
    left:5%;
}
.bottom-left-right{
    bottom:5%;
    left:30%;
}
tr {
    height: 50px;
}
th{
    height:30px;
    width:50px;
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    color:rgb(218, 108, 18);
}
.void{
    height: 0px !important;
}

td {
    width: 50px;
}
.table-body {
    margin-top : 50px;
} 
.borderless td, .borderless th {
    border: none;
}